:root {
  --clr1: #F1F6F9;
  --clr2: #394867;
  --clr3: #212A3E;
  --clr4: #9BA4B5;
}

* {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--clr1);
    font-family: 'Bebas Neue', sans-serif;
}

.box {border: hsl(221, 31%, 19%) solid 1px; }


a:link {text-decoration: none;color: var(--clr1);}
a:visited {text-decoration: none;color: var(--clr1);}
a:hover {text-decoration: none;color: var(--clr1);}
a:active {text-decoration: none;color: var(--clr1);}

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: var(--clr4);
    color: var(--clr3);
    /* padding: 0px 200px 0px 200px; */
}

#back_drop {
    max-height: 550px;
}

#back_drop #back_pic{
    object-position: top;
    max-height: 550px;
    object-fit: cover;
    /* display: none;  */
    border-bottom: var(--clr3) solid 5px;
}


#p_pic_container {
    display: flex;
}

#p_pic_container #p_pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px var(--clr3) solid;
    z-index: 1;
}

#programs_container {padding: 20px 20px 0px 20px;}

#programs_container .programs_container_div {margin: 50px 0px 50px 0px;}

#programs {
    height: 150px;
    border: var(--clr3) 2px solid;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--clr3);
}

#programs h2 {z-index: 1;}

#programs img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    
}

#about {
    max-width: 700px;
    background-color: var(--clr3);
    border-radius: 30px;
}

#about p{
    text-align: left;
    font-size: .9em;
    color: var(--clr1);
    padding: 15px;
}

#reel iframe{
    max-width: 700px;
    height: 300px;
    background-color: var(--clr3);
    border-radius: 30px;
}

#social {
    width: 200px;
    position: absolute;
    top: 0px;
}

#social div{
    height: 30px;
    border: var(--clr3) solid 2px;
    display: flex;
    object-fit: cover;
    margin: 50px 0px 0px 0px;
    border-radius: 10px;
    font-size: 2em;
    background-color: var(--clr3);
}

#email a{font-size: .7em;}

#contact {
    width: 50px;
    height: 50px;
    background-color: var(--clr2);
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;
}

#menu {
    width: 100%;
    height: 100%;
    top: -2000px;
    background-color: var(--clr3);
    z-index: 4;
    padding: 0px 10px 0px 10px;
}

#menu i {
    max-width: 50px;
}

#menu .d-flex{
    width: 100%;
    /* height: 100%; */
}

footer {
    height: 40px;
    background-color: var(--clr3);
    margin-top: 20px;
}
