:root {
  --clr1: #F1F6F9;
  --clr2: #394867;
  --clr3: #212A3E;
  --clr4: #9BA4B5;
}

* {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--clr1);
    font-family: 'Bebas Neue', sans-serif;
}

.box {border: red solid 1px; }


a:link {text-decoration: none;color: var(--clr1);}
a:visited {text-decoration: none;color: var(--clr1);}
a:hover {text-decoration: none;color: var(--clr1);}
a:active {text-decoration: none;color: var(--clr1);}

body {
    background-color: var(--clr4);
    color: var(--clr3);
    /* padding: 0px 200px 0px 200px; */
}

#back-drop {
    max-height: 550px;
}

#back-drop #back-pic{
    object-position: top;
    max-height: 550px;
    object-fit: cover;
    border-bottom: var(--clr3) solid 5px;
}


#p-pic-cont {
    position: absolute;
    bottom: -250px;
    width: 50%;
}

#p-pic-cont #p-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px var(--clr3) solid;
    z-index: 1;
    
}

#programs {
    top: -30px;
    width: 300px;
    height: 150px;
    border: var(--clr3) 2px solid;
    border-radius: 10px;
    background-color: var(--clr3);
}

#programs h2 {z-index: 999;}

#programs img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    
}
/* -------------------------------------------------------------------------- */
/* ---------------------------------- page ---------------------------------- */

/* #page {padding-top: 500px;} */

#about {
    max-width: 50%;
    left: 50%;
    background-color: var(--clr3);
    top: 0;
    border-bottom-left-radius: 30px;
}

#about p{
    text-align: left;
    font-size: .9em;
    color: var(--clr1);
    padding: 15px;
}


#soc-reel-cont {
}

#social {
    /* margin-left: 10%; */
    padding: 0 10%;
    width: 50%;
}

#social div{
    height: 30px;
    border: var(--clr3) solid 2px;
    display: flex;
    object-fit: cover;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: var(--clr3);
}

#reel {
    width: 50%;
}

#reel iframe{
    height: 300px;
    background-color: var(--clr3);
    top: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#reel {
    top: 0;
}

#social i {
    max-width: 50px;
}

footer {
    height: 50px;
    background-color: var(--clr3);
    margin-top: 20px;
}
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 760px) {

    #p-pic-cont {
    width: 100%;
    }

/* -------------------------------------------------------------------------- */
#page {padding-top: 250px;}
#about {
    border-radius: 30px;
    left: auto;
}
#about p{
    text-align: left;
    font-size: .9em;
    color: var(--clr1);
    padding: 15px;
}

#reel {
    width: 100%;
    margin: 10% 0;
}

#reel iframe{
    border-radius: 30px;
}

#social {
    margin: 10% 0;
    padding: 0 10%;
    width: 100%;
}


}
